// color
$background-yellow: #f0e9dc;

// form
$form-orange: #e38f71;
$form-brown: rgba(111, 95, 92, 0.8);
$label-dark: #4b3f3e;
$form-font-family: 'PingFangTC-Regular';

// text
$text-dark: #5c4e4c;
$text-highlight: #e38f71;

// indigator
$indigator-default: #9D948C;
$indigator-active: #E38F71;
